<footer>
    <div class="footer__top red-bg pt-15 pb-15">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-8">
                    <div class="logo">
                        <a href="index.html">Tmoeini.ir</a>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-6 col-4">
                    <div class="go-top f-right">
                        <a id="scrollToTop" href="#"><i class="fas fa-arrow-up"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom footer-bg pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-12">
                    <div class="footer__text mb-30">
                        <h3>Thanks for all the dedicated personal service you have shown us.</h3>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12">
                    <div class="footer__social f-right">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>