{% load static %}
<div class="fix">
    <div class="side-info">
        <button class="side-info-close"><i class="fal fa-times"></i></button>
        <div class="side-info-content">
            <div class="mobile-menu d-lg-none"></div>
            <div class="side-address mb-30">
                <div class="contact__list mb-30">
                    <h4>آدرس محل کار</h4>
                    <p>دانشگاه پیام نور صائین قلعه
                       </p>
                </div>
                <div class="contact__list mb-30">
                    <h4>شماره تماس</h4>
                    <p>09303704853</p>
                    <p>+(098) 2435621290</p>
                </div>
                <div class="contact__list mb-30">
                    <h4>آدرس ایمیل</h4>
                    <p>info@tmoeini.ir</p>
                    <p>moeini107@yahoo.com</p>
                </div>
            </div>
            <div class="side-portfolio d-none d-lg-block">
                <a href="portfolio-details.html"><img src="{% static 'assets/img/portfolio/portfolio1.jpg' %}" alt=""></a>
                <a href="portfolio-details.html"><img src="{% static 'assets/img/portfolio/portfolio2.jpg' %}" alt=""></a>
                <a href="portfolio-details.html"><img src="{% static 'assets/img/portfolio/portfolio3.jpg' %}" alt=""></a>
                <a href="portfolio-details.html"><img src="{% static 'assets/img/portfolio/portfolio4.jpg' %}" alt=""></a>
                <a href="portfolio-details.html"><img src="{% static 'assets/img/portfolio/portfolio5.jpg' %}" alt=""></a>
                <a href="portfolio-details.html"><img src="{% static 'assets/img/portfolio/portfolio6.jpg' %}" alt=""></a>
            </div>
        </div>
    </div>
</div>