<div class="sidebar__widget mb-75">
    <div class="sidebar__widget-title mb-50">
        <h4>دسته ها</h4>
    </div>
    <div class="sidebar__widget-content">
        <div class="cat-link">
            <ul>
                <li>
                    <a href="blog-details.html">طراحی وب (6)</a>
                </li>
                <li>
                    <a href="blog-details.html">توسعه وب (14)</a>
                </li>
                <li>
                    <a href="blog-details.html">گرافیک (12)</a>
                </li>
                <li>
                    <a href="blog-details.html">اندروید (10)</a>
                </li>
                <li>
                    <a href="blog-details.html">طراحی (4)</a>
                </li>
                <li>
                    <a href="blog-details.html">محصولات جدید (9)</a>
                </li>
                <li>
                    <a href="blog-details.html">طراحی وب (8)</a>
                </li>
            </ul>
        </div>
    </div>
</div>